

/************************ tag selector ******************/
h1{
    color: red;
    font-size: 200px;
}

img:hover{
    background-color: pink;
}
/********************* class selector **********************/
.bacon{
    background-color: green;
}
.broccoli{
    background-color: red;
}

/********************* id selector*******************/
#heading{
    color: blue;

}
.circular{
    border-radius: 100%;
}

